::ng-deep .dx-datagrid-nowrap .dx-header-row>td>.dx-datagrid-text-content {
    white-space: normal !important;
}
::ng-deep  .dx-datagrid-headers .dx-header-row {  
    background-color: #ccecff;
    color: #000;
  }  
  