<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  (onExporting)="onExporting($event)">
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."></dxo-search-panel>
  <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
  <dxo-row-dragging
    [allowReordering]="true"
    [onReorder]="onReorder"
    dropFeedbackMode="push"></dxo-row-dragging>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-export
    [enabled]="true"
    [formats]="['pdf','excel']"
    [allowExportSelectedData]="true"></dxo-export>

  <dxi-column dataField="ID" [width]="70"
    [fixed]="true"></dxi-column>
  <dxi-column dataField="Address"></dxi-column>
  <dxi-column dataField="CompanyName"></dxi-column>
  <dxi-column dataField="Phone"></dxi-column>
  <dxi-column dataField="Fax"></dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [useIcons]="true">
    <dxo-popup
      title="Edit Employee Info"
      [showTitle]="true"
      [width]="700"
      [height]="300">
    </dxo-popup>
    <dxo-form>
      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="Address"></dxi-item>
        <dxi-item dataField="CompanyName"></dxi-item>
        <dxi-item dataField="Phone"></dxi-item>
        <dxi-item dataField="Fax"></dxi-item>
        <dxi-item dataField="City"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>
  <dxi-column type="buttons" [width]="110">
    <dxi-button name="edit"></dxi-button>
    <dxi-button name="delete"></dxi-button>
    <dxi-button
      hint="Clone"
      icon="copy"
      [visible]="isCloneIconVisible"
      [onClick]="cloneIconClick"></dxi-button>
  </dxi-column>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [visible]="true"
    [showInfo]="true"
    [displayMode]="'compact'"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5,10, 25, 50, 100]">
  </dxo-pager>

  <dxo-toolbar>
    <dxi-item name="exportButton" location="before"></dxi-item>
    <dxi-item location="before">
      <div *dxTemplate>
        <div routerLink="/dashboard/configure" style="cursor:pointer">
          <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
            height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"></rect>
              <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506
                L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814
                L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19
                L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15
                15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9
                C10.3431458,9
                9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                fill="#000000"></path>
            </g>
          </svg>
        </div>
      </div>
    </dxi-item>
    <dxi-item name="searchPanel" location="after"></dxi-item>
  </dxo-toolbar>

</dx-data-grid>