<!-- Dashboard -->
<!-- <div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title" translate="MENU.DASHBOARD"></span
  ></a>
</div> -->

<!-- Layout Builder -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/configuration">
    <span class="menu-title">Configuration</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3">
    <span class="menu-title">Menu 1</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3">
    <span class="menu-title">Menu 2</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3">
    <span class="menu-title">Menu 3</span>
  </a>
</div>
<div class="menu-item me-lg-1">
  <a class="menu-link py-3">
    <span class="menu-title">Menu 4</span>
  </a>
</div>

